<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <title>{{.profile.FullName}}</title>
  </head>
  <body>
    <div id="content">
      <h1>{{.profile.FullName}}</h1>
      <div id="content_inner" class="entity_profile vcard author">
        <h2>User profile</h2>
        <dl class="entity_uid">
          <dt>Uid</dt>
          <dd>
            <span class="uid">{{.person.Guid}}</span>
          </dd>
        </dl>
        <dl class="entity_nickname">
          <dt>Nickname</dt>
          <dd>
            <span class="nickname">{{.profile.Nickname}}</span>
          </dd>
        </dl>
        <dl class="entity_full_name">
          <dt>Full_name</dt>
          <dd>
            <span class="fn">{{.profile.FullName}}</span>
          </dd>
        </dl>
        <dl class="entity_searchable">
          <dt>Searchable</dt>
          <dd>
            <span class="searchable">{{.profile.Searchable}}</span>
          </dd>
        </dl>
        <dl class="entity_key">
          <dt>Key</dt>
          <dd>
            <pre class="key">{{.person.SerializedPublicKey}}</pre>
          </dd>
        </dl>
        <dl class="entity_first_name">
          <dt>First_name</dt>
          <dd>
            <span class="given_name">{{.profile.FirstName}}</span>
          </dd>
        </dl>
        <dl class="entity_family_name">
          <dt>Family_name</dt>
          <dd>
            <span class="family_name">{{.profile.LastName}}</span>
          </dd>
        </dl>
        <dl class="entity_url">
          <dt>Url</dt>
          <dd>
            {{- $url := (print .proto .address)}}
            <a id="pod_location" class="url" rel="me" href="{{$url}}/">{{$url}}/</a>
          </dd>
        </dl>
        <dl class="entity_photo">
          <dt>Photo</dt>
          <dd>
            {{- $imageUrl := (print $url .profile.ImageUrl)}}
            <img class="photo avatar" width="300" height="300" src="{{$imageUrl}}" />
          </dd>
        </dl>
        {{- $imageUrlMedium := (print $url .profile.ImageUrlMedium)}}
        <dl class="entity_photo_medium">
          <dt>Photo_medium</dt>
          <dd>
            <img class="photo avatar" width="100" height="100" src="{{if ne $imageUrlMedium $url}}{{$imageUrlMedium}}{{else}}{{$imageUrl}}{{end}}" />
          </dd>
        </dl>
        {{- $imageUrlSmall := (print $url .profile.ImageUrlSmall)}}
        <dl class="entity_photo_small">
          <dt>Photo_small</dt>
          <dd>
            <img class="photo avatar" width="50" height="50" src="{{if ne $imageUrlSmall $url}}{{$imageUrlSmall}}{{else}}{{$imageUrl}}{{end}}" />
          </dd>
        </dl>
      </div>
    </div>
  </body>
</html>
