{{$root := .}}
{{$title := msg . "search.title"}}
{{set . "title" $title}}

{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{msg . "search.search_result_for" .searchQuery}}</h2>
    </div>
  </div>
  {{range .posts}}
  {{set $root "post" .}}
    {{template "stream/post.html" $root}}
  {{end}}
  <div class="row mt-4">
    {{if ugt .page 1}}
    <div class="col">
      <a type="button" class="btn btn-primary btn-block" href="/search/{{.searchQuery}}/{{sub .page 1}}">{{msg . "profile.previous"}}</a>
    </div>
    {{end}}
    <div class="col">
      <a type="button" class="btn btn-primary btn-block" href="/search/{{.searchQuery}}/{{add .page 1}}">{{msg . "profile.next"}}</a>
    </div>
  </div>
</div>

{{template "footer.html" .}}
