<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div style="overflow: auto;">
      <div style="float: left;">
        <img width="100px" src="{{ConfigString "proto"}}{{ConfigString "address"}}/public/img/avatar.png" border="0" />
      </div>
      <div style="padding-left: 120px">
        {{SafeHTML .Text}}
      </div>
    </div>
    <hr color="#999">
    <p style="font-size: 12px; color: #999;">
      {{msg . "notification.mail.hint" (ConfigString "address") (concat (ConfigString "proto") (ConfigString "address"))}}
    </p>
  </body>
</html>

