<section class="comment-list scrollable_child">
  <article class="row">
    <div class="col-md-10 col-sm-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <header class="text-right">
            <div class="comment-user">
              <i class="fa fa-user-o"></i> {{.comment.Person.Author}}
            </div>
            <time class="comment-date" datetime="{{.comment.CreatedAt.UTC}}">
              <i class="fa fa-clock-o"></i> {{timeago .comment.CreatedAt .}}
            </time>
          </header>
          <div class="comment-post comment">
            <p data-markdown data-template>{{.comment.Text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 hidden-xs">
      <a href="/profiles/{{.comment.Person.Guid}}" target="_self">
        <figure class="thumbnail">
          <img class="img-responsive" src="{{.comment.Person.Profile.ImageUrl}}" />
          <figcaption class="text-center">{{.comment.Person.Profile.FullName}}</figcaption>
        </figure>
      </a>
    </div>
  </article>
</section>
