<div class="row pt-4">
  <div class="col-10">
    <div class="card">
      <div class="card-header">
        <small class="text-muted">
          <span class="float-left">
            <a href="/profiles/{{.comment.Person.Guid}}">
              <i class="fa fa-user-o"></i> {{.comment.Person.Author}}
            </a>
          </span>
          <span class="float-right" title="{{.comment.CreatedAt}}">
            <a href="#{{.comment.Guid}}">
              <i class="fa fa-clock-o"></i> {{timeago .comment.CreatedAt .}}
            </a>
          </span>
        </small>
      </div>
      <div class="card-block">
        <div class="card-body">
          <a name="{{.comment.Guid}}"></a>
          <p class="card-text" data-markdown>{{.comment.Text}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card text-center">
      <a href="/profiles/{{.comment.Person.Guid}}">
        <img class="card-img-top" src="{{.comment.Person.Profile.ImageUrl}}" title="{{.comment.Person.Profile.FullName}}">
      </a>
    </div>
  </div>
</div>
