<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel panel-default left">
      <div class="panel-body">
        <form action="/api/v0/posts/{{.}}/comments" method="post">
          <div class="form-group">
            <textarea class="form-control" rows="2" name="comment" placeholder="Write a comment.."></textarea>
            <button class="btn btn-medium btn-block" type="submit">
              <i class="fa fa-share-square-o"></i> Post Comment
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
