<div class="row pt-4">
  <div class="col-12">
    <form id="comment-editor-form" action="/api/v0/posts/{{.post.ID}}/comments" method="post">
      <div class="form-group">
        <textarea class="form-control" rows="2" name="comment" placeholder="{{msg . "comment.placeholder"}}"></textarea>
        <button class="btn btn-success btn-block" type="submit">
          <i class="fa fa-share-square-o"></i> {{msg . "comment.button"}}
        </button>
      </div>
    </form>
  </div>
</div>

{{javascript_include_tag "editor_box"}}
