<section class="comment-list scrollable_child">
  <article class="row">
    <div class="col-md-10 col-sm-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <header class="text-right">
            <a href="#">
              <div class="comment-user">
                <i class="fa fa-user-o"></i> {{.Person.Author}}
              </div>
              <time class="comment-date" datetime="{{.CreatedAt.UTC}}">
                <i class="fa fa-clock-o"></i>
              </time>
            </a>
          </header>
          <div class="comment-post comment">
            <p data-markdown data-template>{{.Text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 hidden-xs">
      <a href="/profiles/{{.Person.Guid}}" target="_self">
        <figure class="thumbnail">
          <img class="img-responsive" src="{{.Person.Profile.ImageUrl}}" />
          <figcaption class="text-center">{{.Person.Profile.FullName}}</figcaption>
        </figure>
      </a>
    </div>
  </article>
</section>
