<div class="row">
  <div class="col-md-12">
    <form id="post-editor-form" action="{{url "ApiPost.Create"}}" method="post">
      <div class="form-group">
        <textarea class="form-control" name="post" placeholder="{{msg . "editor.placeholder"}}" rows="4"></textarea>
      </div>
      <div class="row">
        <div class="col-10">
          <button type="submit" class="btn btn-primary btn-block">
            <i class="fa fa-share-square-o"></i> {{msg . "editor.button"}}
          </button>
        </div>
        <div class="col">
          <select id="aspect-list" name="aspectID" class="form-control">
            <option value="0">{{msg . "editor.default_group"}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>

{{javascript_include_tag "editor_box"}}
