{{template "header.html" .}}

<div class="container">
  {{template "stream/editor_box.html" .}}
  {{template "nav_tabs.html" .}}
  {{$root := .}}
  {{range .posts}}
    {{set $root "post" .}}
    {{set $root "align" "left"}}
    {{template "stream/post.html" $root}}
  {{end}}
  {{$lenPosts := len .posts}}
  {{if eq $lenPosts 0}}
  <div class="card pt-5 pb-5">
    <div class="card-body">
      <h5 class="card-title text-center">
        <i class="fa fa-battery-empty"></i> {{msg . "stream.empty"}}
      </h5>
    </div>
  </div>
  {{end}}
  {{$tags := msg . "tag.title"}}
  {{$tags := htmlToString $tags}}
  <div class="row mt-4">
    {{if ugt .page 1}}
    <div class="col">
      <a type="button" class="btn btn-primary btn-block" href="/
        {{- if eq .title $tags}}tags/{{.tag}}/?
        {{- else}}stream?view={{.view}}&
        {{- end}}page={{usub .page 1}}">{{msg . "profile.previous"}}</a>
    </div>
    {{end}}
    <div class="col">
      <a type="button" class="btn btn-primary btn-block" href="/
        {{- if eq .title $tags}}tags/{{.tag}}/?
        {{- else}}stream?view={{.view}}&
        {{- end}}page={{uadd .page 1}}">{{msg . "profile.next"}}</a>
    </div>
  </div>
</div>

{{javascript_include_tag "nsfw_filter"}}

{{template "footer.html" .}}
