<section class="scrollable_parent">
  <section class="comment-list scrollable_child">
    <article class="row">
      <div class="col-md-2 col-sm-2 hidden-xs">
        <a href="/profiles/{{.post.Person.Guid}}" target="_self">
          <figure class="thumbnail">
            <img class="img-responsive" src="{{.post.Person.Profile.ImageUrl}}" />
            <figcaption class="text-center">{{.post.Person.Profile.FullName}}</figcaption>
          </figure>
        </a>
      </div>
      <div class="col-md-10 col-sm-10">
        <div class="panel panel-default">
          <div class="panel-body">
            <header class="text-left">
              <a href="/posts/{{.post.Guid}}">
                <div class="comment-user">
                  <i class="fa fa-user-o"></i> {{.post.Person.Profile.Author}}
                </div>
                <time class="comment-date" datetime="{{.post.CreatedAt.UTC}}">
                  <i class="fa fa-clock-o"></i> {{timeago .post.CreatedAt .}}
                </time>
              </a>
            </header>
            <div class="comment-post post">
              <p data-markdown data-template>{{.post.Text}}</p>
            </div>
            <div class="comment-footer">
              <i class="fa fa-{{if .post.Public}}un{{end}}lock pull-left" title="
              {{- if .post.Public}}
                {{- msg . "post.public"}}
              {{- else}}
                {{- msg . "post.limited"}}
              {{- end}}"></i>
              <a href="/posts/{{.post.Guid}}">
                <i class="fa fa-comments-o">{{len .post.Comments}}</i>
              </a>
              <i data-id="{{.post.ID}}" class="fa fa-thumbs-o-down dislike"></i>
              <i data-id="{{.post.ID}}" class="fa fa-thumbs-o-up like"></i>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</section>
