<article class="row">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <a href="/profiles/{[{Person.Guid}]}" target="_self">
      <figure class="thumbnail">
        <img class="img-responsive" src="{[{Profile.ImageUrl}]}" />
        <figcaption class="text-center">{[{Profile.FullName}]}</figcaption>
      </figure>
    </a>
  </div>
  <div class="col-md-10 col-sm-10">
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <header class="text-left">
          <div class="comment-user"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {[{Profile.Author}]}</div>
          <time class="comment-date" datetime="{[{CreatedAt}]}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {[{CreatedAt}]}</time>
        </header>
        <div class="comment-post">
          <p class="markdown">{[{Text}]}</p>
        </div>
        <div class="comment-footer">
          <i data-id="{[{ID}]}" class="glyphicon glyphicon-thumbs-up like"></i>
          <i data-id="{[{ID}]}" class="glyphicon glyphicon-thumbs-down dislike"></i>
        </div>
      </div>
    </div>
  </div>
</article>
