{{$title := msg . "user.sign_up_title"}}
{{set . "title" $title}}
{{set . "captchaID" CaptchaNew}}

{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Register</h1>
      <hr/>
      <form method="post" action="{{url "User.Create"}}">
        <div class="form-group">
          <label for="username" class="cols control-label">Username</label>
          <div class="cols">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="cols control-label">Password</label>
          <div class="cols">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </span>
              <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="cols control-label">Confirm Password</label>
          <div class="cols">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-asterisk" aria-hidden="true"></i>
              </span>
              <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="captcha" class="cols control-label">Captcha:</label>
          <img src="/captcha/{{.captchaID}}.png" alt="Captcha Image">
          <input type="hidden" name="captchaID" value="{{.captchaID}}">
          <div class="cols">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-question" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="captchaValue" placeholder="Type the numbers you see in the picture"/>
            </div>
          </div>
        </div>
        <div class="form-group ">
          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
        <a href="{{url "User.Login"}}">Login</a>
      </form>
    </div>
  </div>
</div>

{{template "footer.html" .}}
