{{$root := .}}
{{$title := msg . "settings.title"}}
{{set . "title" $title}}

{{template "header.html" .}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="card-body">
            <h1 class="pb-4">
              <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i> {{msg . "settings.title.user"}}
            </h1>
            <h2 class="pt-4 pb-4">
              <i class="fa fa-laptop fa-lg" aria-hidden="true"></i> {{msg . "settings.title.oauth"}}
            </h2>
            <ul id="tokens" class="list-group">
              {{range .tokens}}
              <li value="{{.ID}}" class="list-group-item">
                <code>{{.ClientID}}</code>
                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
              </li>
              {{end}}
              {{$lenTokens := len .tokens}}
              {{if eq $lenTokens 0}}
              <li class="list-group-item">
                <code>{{msg $root "settings.clients.non_found"}}</code>
              </li>
              {{end}}
            </ul>
            <h2 class="pt-4 pb-4">
              <i class="fa fa-globe fa-lg" aria-hidden="true"></i> {{msg . "settings.title.language"}}
            </h2>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{msg . "settings.language.choose_language"}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{range FindAvailableLocales}}
                <a data-value="{{.}}" class="language dropdown-item">{{.}}</a>
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{javascript_include_tag "settings"}}

{{template "footer.html"}}
