<div class="jumbotron">
  <div class="row">
    <h1>Welcome to GangGo!</h1>
    <p>GangGo is a decentralized social network written in <a href="https://golang.org/">GoLang</a>. It uses the same federation library like <a href="https://diasporafoundation.org/">Diaspora</a> and therefore can participate in conversations like any other <a href="https://wiki.diasporafoundation.org/Choosing_a_pod#Why_do_I_need_to_choose_a_pod.3F">Pod</a>!</p>
    <p><a class="btn btn-primary btn-lg" href="https://wiki.diasporafoundation.org/FAQ_for_users" role="button">Learn more about Diaspora »</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> Own your own data</h2>
      <p>Many networks use your data to make money by analysing your interactions and using this information to advertise things to you. GangGo doesn’t use your data for any purpose other than allowing you to connect and share with others.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Choose your audience</h2>
      <p>GangGo’s aspects allow you to share with just those people you want to. You can be as public or as private as you like. Share a funny photo with the whole world, or a deep secret just with your closest friends. You’re in control.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Be who you want to be</h2>
      <p>A lot of networks insist that you use your real identity. Not GangGo. Here you can choose who you want to be, and share as much or as little about yourself as you want. It really is up to you how you want to interact with other people.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Decentralization</h2>
      <p>GangGo is completely decentralized, and any person from any pod can communicate with one another! You can <a href="https://the-federation.info/nodes">register</a> at any of these other pods as well. You can also choose to <a href="https://github.com/ganggo/ganggo/">set up your own pod</a> if you'd like.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Make a contribution!</h2>
      <p>Make GangGo even better! Fork the project on <a href="https://github.com/ganggo/">GitHub</a> make some changes, and submit a pull request.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> GangGo?! What the.. ?</h2>
      <p>A Ganggo is a friendly helper, good-natured man. You will understand it if you are from the South of Germany. <a href="https://github.com/zauberstuhl/">I</a> thought it is a match especially cause it ends in 'GO' :)</p>
    </div>
  </div>
</div>
