<style>
  body {
    padding-top: 3.5rem;
  }
</style>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Welcome to GangGo!</h1>
      <p>GangGo is a decentralized social network written in <a href="https://golang.org/">GoLang</a>. It uses the same federation library like <a href="https://diasporafoundation.org/">Diaspora</a> and therefore can participate in conversations like any other <a href="https://wiki.diasporafoundation.org/Choosing_a_pod#Why_do_I_need_to_choose_a_pod.3F">Pod</a>!</p>
      <p><a class="btn btn-primary btn-lg" href="https://wiki.diasporafoundation.org/FAQ_for_users" role="button">Learn more about Diaspora »</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2><i class="fa fa-cloud" aria-hidden="true"></i> Decentralization</h2>
      <p>GangGo works decentralized which means that not a single person owns all the data. It is splitted between hundreds of servers! This leaves you with two options a) you can <a href="https://the-federation.info/nodes">register</a> at one of these server or b) you can <a href="https://git.feneas.org/ganggo/ganggo/">set up your own instance</a>.</p>
    </div>
    <div class="col">
      <h2><i class="fa fa-terminal" aria-hidden="true"></i> Make a contribution!</h2>
      <p>Make GangGo even better! Fork the project on <a href="https://git.feneas.org/ganggo/">GitHub</a> make some changes, and submit a pull request. Why? Cause we are open-source <code>\m/</code></p>
    </div>
    <div class="col">
      <h2><i class="fa fa-asterisk" aria-hidden="true"></i> Why GangGo?</h2>
      <p>A Ganggo is a friendly helper, good-natured man. You will understand it if you are from the South of Germany. <a href="https://github.com/zauberstuhl/">I</a> thought it is a match especially cause it ends in 'GO' :)</p>
    </div>
  </div>
</div>
