<div class="jumbotron">
  <div class="row">
    <h1>Welcome to GangGo!</h1>
    <p>GangGo is a decentralized social network written in <a href="https://golang.org/">GoLang</a>. It uses the same federation library like <a href="https://diasporafoundation.org/">Diaspora</a> and therefore can participate in conversations like any other <a href="https://wiki.diasporafoundation.org/Choosing_a_pod#Why_do_I_need_to_choose_a_pod.3F">Pod</a>!</p>
    <p><a class="btn btn-primary btn-lg" href="https://wiki.diasporafoundation.org/FAQ_for_users" role="button">Learn more about Diaspora »</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> Own your own data</h2>
      <p>Many systems use your data to profit by breaking down your associations and using this data to promote things to you. GangGo doesn't use your information for any reason other than enabling you to associate and share with others.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Choose your audience</h2>
      <p>GangGo's aspects enable you to impart to only those individuals you need to. You can be as open or as private as you prefer. Offer a clever photograph with the entire world, or a profound mystery just with your dearest companions. You're in charge.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Be who you want to be</h2>
      <p>A ton of systems demand that you use your genuine personality. Not GangGo. Here you can pick who you need to be, and share to such an extent or as meager about yourself as you need. It truly is dependent upon you how you need to communicate with other individuals.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Decentralization</h2>
      <p>GangGo is completely decentralized, and any person from any server can communicate among themselves! You can choose between <a href="https://the-federation.info/nodes">registering</a> at any of these other servers or you can <a href="https://github.com/ganggo/ganggo/">set up your own server</a> if you'd like.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Make a contribution!</h2>
      <p>Make GangGo even better! Fork the project on <a href="https://github.com/ganggo/">GitHub</a> make some changes, and submit a pull request.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="landing-info-card text-center">
      <h2><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> GangGo?! What the.. ?</h2>
      <p>A Ganggo is a friendly helper, good-natured man. You will understand it if you are from the South of Germany. <a href="https://github.com/zauberstuhl/">I</a> thought it is a match especially cause it ends in 'GO' :)</p>
    </div>
  </div>
</div>
