html {
  min-height: 100%;
  position: relative;
}

body {
  padding-top: 4rem;
  /* footer height */
  margin-bottom: 5rem;
}

.card-img-top{
  width: 100%;
  height: auto;
}

#flash-container {
  position: absolute;
  z-index: 999;
  top: 3.5rem;
  width: 100%;
}

footer {
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: grey;
}

footer a, footer a:hover {
  color: grey;
}
