body {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
}

.card-img-top{
  width: 100%;
  height: auto;
}

#flash-container {
  position: absolute;
  z-index: 999;
  top: 3.5rem;
  width: 100%;
}
