.comment-list header {
  padding: 10px;
  font-size: 0.4em;
  color: #555;
}
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
.comment-list .comment-post {
  margin: 35px 15px 15px 35px;
}
.comment-list .comment-post.post {
  text-align: left;
}
.comment-list .comment-post.comment {
  text-align: right;
}
/*Likes and dislikes*/
.comment-list .comment-footer {
  font-size: 0.5em;
  text-align: right;
  padding: 15px 30px 15px 30px;
}
.comment-list .comment-footer i.glyphicon {
  display: inline;
  font-size: 1.125em;
  cursor: pointer;
}
.comment-list .comment-footer i.fa-thumbs-o-up {
  color: #1abc9c;
}
.comment-list .comment-footer i.fa-thumbs-o-down {
  color: #e74c3c;
  padding-left: 5px;
}
