.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.form-control.compressed {
  height: 4em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-control.expanded {
  height: 12em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  color: #fff;
  background-color: #337ab7;
}
