    </main>
    <footer class="py-2 bg-inverse">
      <div class="container">
        <p class="m-0 float-left">GangG<i class="fa fa-heart-o"></i></p>
        <p class="m-0 pl-2 float-left">{{Version}}</p>
        <p class="m-0 float-right">
          {{msg . "footer.links.report_issue" "https://git.feneas.org/ganggo/ganggo/issues/new" "mailto:incoming+ganggo/ganggo@git.feneas.org"}}
        </p>
      </div>
    </footer>
    {{javascript_include_tag "tether.min"}}
    {{javascript_include_tag "bootstrap.min"}}
    {{javascript_include_tag "jquery.fancybox.min"}}
    {{javascript_include_tag "main"}}
  </body>
</html>
