<!DOCTYPE html>
{{- $stream := msg . "stream.title"}}
{{- $stream := htmlToString $stream}}
{{- $public := msg . "public.title"}}
{{- $public := htmlToString $public}}
<html lang="en">
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png?v=2">
    <!-- javascript libs -->
    {{javascript_include_tag "jquery.min"}}
    {{javascript_include_tag "jquery.form.min"}}
    {{javascript_include_tag "rest-client.min"}}
    {{javascript_include_tag "marked.min"}}
    <!-- stylesheets -->
    {{stylesheet_link_tag "tether.min"}}
    {{stylesheet_link_tag "bootstrap.min"}}
    {{stylesheet_link_tag "bootstrap-grid.min"}}
    {{stylesheet_link_tag "bootstrap-reboot.min"}}
    {{stylesheet_link_tag "font-awesome.min"}}
    {{stylesheet_link_tag "main"}}
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="{{msg . "navigation.toggle"}}">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">GangGo</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            {{if .currentUser}}
            <li class="nav-item {{if eq .title $stream}} active{{end}}">
              <a class="nav-link" href="{{url "Stream.Index"}}">{{msg . "navigation.stream.private"}}</span></a>
            </li>
            {{end}}
            <li class="nav-item{{if eq .title $public}} active{{end}}">
              <a class="nav-link" href="{{url "PublicStream.Index"}}">{{msg . "navigation.stream.public"}}</span></a>
            </li>
            {{if .currentUser}}
            {{template "nav_notification.html" .}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{{url "Setting.Index"}}">{{msg . "navigation.user.settings"}}</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-method="delete" href="{{url "User.Logout"}}">{{msg . "navigation.logout" .currentUser.Username}}</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link" href="{{url "User.Login"}}">{{msg . "navigation.login"}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url "User.Index"}}">{{msg . "navigation.register"}}</a>
            </li>
            {{end}}
          </ul>
          {{if .currentUser}}
          <form class="form-inline my-2 my-lg-0" action="/search" method="post">
            <input type="text" name="search" class="form-control mr-sm-2" placeholder="e.g. lukas@sechat.org">
            <input type="submit" style="display:none"/>
          </form>
          {{end}}
        </div>
      </div>
    </nav>
    <main role="main">
    {{template "flash.html" .}}
