{{$root := .}}
{{$notify := FindUnreadNotifications .currentUser}}
{{$lenNotify := len $notify}}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-bell"></i> {{$lenNotify }}
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">
    <ul class="list-unstyled px-4 py-3" role="menu">
      {{range $index, $elem := $notify}}
      <li class="notify-element" data-id="{{.ID}}">
        {{if IsShareablePost .ShareableType}}
        {{$targetUrl := concat "/posts/" .SharableGuid}}
        <a href="/profiles/{{.Person.Guid}}">{{.Person.Author}}</a>
        <p class="small">{{msg $root "notification.mentioned_in_post" $targetUrl}}</p>
        {{end}}
        {{if IsShareableComment .ShareableType}}
        {{$targetUrl := concat "/posts/" .Comment.ParentPost.Guid}}
        {{$targetUrl := concat $targetUrl "#"}}
        {{$targetUrl := concat $targetUrl .ShareableGuid}}
        <a href="/profiles/{{.Person.Guid}}">{{.Person.Author}}</a>
        <p class="small">{{msg $root "notification.mentioned_in_comment" $targetUrl}}</p>
        {{end}}
      </li>
      {{$pos := add $index 1}}
      {{if ne $pos $lenNotify}}
      <li class="dropdown-divider"></li>
      {{end}}
      {{end}}
      {{if eq $lenNotify 0}}
      <li class="notify-element">
        <p class="small">{{msg $root "notification.no_notification"}}</p>
      </li>
      {{end}}
    </ul>
  </div>
</li>
