{{if .currentUser}}
{{$stream := msg . "stream.title"}}
{{$stream := htmlToString $stream}}
<div class="row pb-2">
  <div class="container">
    <i class="user-stream-arrow left fa fa-arrow-left" style="display:none"></i>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link{{if and (eq .title $stream) (eq .view "private")}} active{{end}}" href="{{url "Stream.Index"}}?view=private">{{msg . "navigation.stream.private"}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{if and (eq .title $stream) (eq .view "public")}} active{{end}}" href="{{url "Stream.Index"}}?view=public">{{msg . "navigation.stream.public"}}</a>
      </li>
      {{$root := .}}
      {{$userStreams := FetchUserStreams .currentUser}}
      {{$userStreamsLen := len $userStreams}}
      {{range $i, $userStream := $userStreams}}
      <li class="nav-item">
        <a class="nav-link{{if and (eq $root.title $stream) (eq $root.view $userStream.Name)}} active{{end}}" href="/stream?view={{$userStream.Name}}">{{SafeHTML $userStream.Name}}</a>
      </li>
      {{end}}
    </ul>
    <i class="user-stream-arrow right fa fa-arrow-right" style="display:none"></i>
  </div>
</div>
{{end}}
