{{set . "title" "Profile"}}

{{$profile := .person.Profile}}

{{template "header.html" .}}

<div class="row">
  <div class="col-md-12">
    <div class="main-login main-center">
      <header class="text-left">
        <div class="comment-user pull-right">
          <img src="{{$profile.ImageUrl}}" border="0" />
        </div>
      </header>
      <h2>{{$profile.DiasporaHandle}}</h2>
      <hr/>
      <h3>{{$profile.FullName}}</h3>
      {{if ne $profile.Bio ""}}
      <p class="markdown">{{$profile.Bio}}</p>
      <hr/>
      {{end}}
      {{$formatedDate := $profile.Birthday.Format "2006-01-02"}}
      {{if ne $formatedDate "0001-01-01"}}
      <h4>Birthday: </h4> {{$formatedDate}}
      {{end}}
      {{if ne $profile.Gender ""}}
      <h4>Gender</h4> {{$profile.Gender}}
      {{end}}
      {{if ne $profile.Location ""}}
      <h4>Location</h4> {{$profile.Location}}
      {{end}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
